:root {
    --nav:#0b0b0b;
    --body:#1b1b1b;
    --vermelho:#e30f19;
    --cinza-claro:#999898;
    --cinza-escuro:#4d4d4d;
    --branco: #ffffff

}

body{
    color:var(--cinza-claro) !important;
    display:flex;
    background-color: var(--body) !important;
}

nav {
    background-color: var(--nav);
    height:71px !important;
}

.button-menu img{
    width:35px !important;
    border:none;
}

#logo-netflix  {
    padding-left:10px;
    width:85px;
}

.active {
    color:var(--vermelho) !important;
}

.menuLateral {
    margin-top:70px;
    height:calc(100vh - 70px);
    margin-bottom:0;
    width:250px !important;
    padding:10px 15px;
    overflow-y: auto !important;
    background: var(--body);
    list-style-type: none !important;
    position:absolute;
    z-index:1000;
    opacity:1;
}

.menuLateral__link {
    color:var(--cinza-claro) !important;
    font-weight: bolder;
}

.menuLateral--show {
  left:0;
  transition:0.3s;
}

.menuLateral--hide {
  left:-250px;
  transition:0.3s;
}


.menuLateral img{
    width:68px !important;

}

.aside-avatar {
    font-weight: lighter;
}

.aside__informacoes {
    margin-left:10px !important;
}

.opacity-claro {
    opacity:.7 !important;

}

.box-main {
    padding:0 !important;
}

main {
    margin-top:71px;
}

.box-main {
    
    opacity:1;
}

.banner {
    height:100px !important;
    background-color:var(--body);
    
}

#box-imag {
    margin-left:50% !important;
}

.banner img {
  width:50%;
}

.btnAssistir {
    background-color: var(--vermelho) !important;
    text-transform:uppercase;
    font-weight: bolder;
    display:inline-block;
}


.list-titles, h4 {
    color:var(--cinza-claro);
    font-size:1rem;
}

.list-titles img {
    min-width: 160px;
}

footer a {
    font-size:10px;
    text-align:center;
}

.cards-info, .cards-info li {
    display:inline;
    list-style-type: none;
}




@keyframes menu-animation-entry {
    from {
        left:-250px !important;
    }

    to {
        left:0 !important;
    }
}

@keyframes menu-animation-out {
    from {
        left:0 !important;
    }

    to {
        left:250px !important;
    }
}

@media (min-width: 576px) { 
   .banner {
    min-height: 256px;
   }
}

@media (min-width: 768px) {
    .banner {
        max-width:180px; 
    }
}

@media (min-width: 992px) { 
    .box-logo {
        display:contents !important;
    }

}

@media (min-width: 1200px) { 
    
}

